{% extends 'base.html' %}

{% block content %}

    <br/>

    <h1>Blog Posts</h1>

    <br/><br/>
    {% for post in posts %}
     <div class="shadow p-3 mb-5 bg-body rounded">
            <h2>{{ post.title }}</h2>
         <small>by: {{ post.poster.username }} - {{ post.date_posted }}</small> <br/><br/>
            {{ post.content|safe }}

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-2">
                    {% if post.poster.profile_pic %}
                        <img src="{{ url_for('static', filename='images/' + post.poster.profile_pic)}}" width="150" align="left" alt="...">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default_profile_pic.png')}}" width="150" align="left" alt="...">
                    {% endif %}
                </div>

                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ post.poster.name }}
                        </h5>
                        <p class="card-text">
                            {% if post.poster.about_author %}
                                {{ post.poster.about_author }}
                            {% else %}
                                Author has no about profile yet...
                            {% endif %}

                        </p>
                    </div>
                </div>
            </div>
        </div>



     <a href="{{ url_for('detail_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">View Post</a>

     {% if current_user.id == post.poster.id %}

         <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
        <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Delete Post</a>

     {% endif %}

     </div>
    {% endfor %}


{% endblock %}