{% extends 'base.html' %}

{% block content %}

    {% if id == current_user.id %}

        <h1>Update user</h1>
        <br/>
        <div class="shadow p-3 mb-3 bg-body-tertiary rounded">
        <form action="/update_user/{{ name_to_update.id }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label")}}
            {{ form.name(class="form-control", value=name_to_update.name) }}

            {{ form.username.label(class="form-label")}}
            {{ form.username(class="form-control", value=name_to_update.username) }}

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", value=name_to_update.email) }}

            {{ form.favorite_color.label(class="form-label")}}
            {{ form.favorite_color(class="form-control", value=name_to_update.favorite_color) }}

            {{ form.about_author.label(class="form-label")}}
            <textarea name="about_author" class="form-control">{{ name_to_update.about_author }}</textarea>
            <br/>
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('delete_user', id=name_to_update.id) }}" class="btn btn-danger">Delete</a>
        </form>
        </div>
    {% endif %}

{% endblock %}