{% extends 'base.html' %}

{% block content %}

    <br/>

    <h1>Users List</h1>

    <br/><br/>
    {% for user in users %}

        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-2">
                    {% if user.profile_pic %}
                        <img src="{{ url_for('static', filename='images/' + user.profile_pic)}}" width="150" align="left" alt="...">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default_profile_pic.png')}}" width="150" align="left" alt="...">
                    {% endif %}
                </div>


                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ user.name }}
                        </h5>
                        <p class="card-text">
                            {% if user.about_author %}
                                {{ user.about_author }}
                            {% else %}
                                Author has no about profile yet...
                            {% endif %}

                        </p>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}